@import 'reset';
@import 'variáveis';
@import 'mixins';

// Body
html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  display: grid;
  grid-template-columns: $lateralLargura 1fr;
  grid-template-rows: $navAltura 1fr;
  color: $fontColor;
  font-family: Arial, Helvetica, sans-serif;
}

// Main
.main {
  background-color: white;
  padding: 20px;
}

.container_main {
  background-color: $mainColor;
  color: $fontColor;
  padding: 30px;
  height: 100%;

  .main_header {
    color: $headerColor;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .main_texto_1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  .main_texto_2 {
    @extend .main_texto_1;
  }

  #imagem_1 {
    display: block;
    width: auto;
    height: auto;
    margin: 50px auto;
  }
}
